# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.egg-info/

# Build / distribution folders
build/
dist/

# Virtual environments
.venv/
venv/
env/
ENV/

# Python version management files
.python-version

# IDE / Editor settings
.vscode/
.idea/

# macOS system files
.DS_Store